@columns: 12;      /* Number of Columns in grid */
@colMargin: 5%;    /* Percentage for margin on each column*/

@wrap-pad: 3%;     /* Percentage for margin on header, main, footer */
@wrap-pad-sm: 2%;  /* Same for mobile */

@font-size: 16px;  /* Standard font-size on Body*/


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: @font-size;
  font-weight: 100;
  min-height: 100%;
}
.header, .featured, .boxes, .footer{
	padding: 0 @wrap-pad;
}
.header{
	background: white;
	box-shadow: 0 4px 2px -2px gray;
	height: 100px;
}
.header h1{
	font-size: 48px;
	line-height: 100px;
}
.header__logo{
	float: left;
}
.primary-nav{
	float: left;
	
	li{
		background: blue;
		display: inline-block;
		height: 50px;
	}

	li + li{
		background: green;
	}

	li a{
		color: yellow;
		display: inline-block;
		height: 50px;
		line-height: 50px;
		width: 100%;
	}
	li a:hover{
		text-decoration: none;
	}
}

.nav{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.nav li{
	display: inline-block;
	margin-right: 25px;
	padding-top: 20px;
}
.nav a{
	color: white;
	font-size: 24px;
}

.main{
	flex: 1 0 auto;
}
.main__title{
	font-size: 7vw;
	margin: 20px 0;
	text-align: center;
}

.featured{
	/*background: paleturquoise;
	color: white;
	height: 500px;
	padding: 150px @wrap-pad;
	text-align: center;*/
	 moz-box-shadow:    inset 0 0 300px #000000;
   webkit-box-shadow: inset 0 0 300px #000000;
   box-shadow:         inset 0 0 300px #000000;
   height: 60vh;
   background: url('images/louisville-pregame.jpg');
   background-size: cover;
   background-position: center;
   position: relative;
}
.featured-text{
	position: absolute;
	right: -100%;
	top: 15vh;
	width: 100%;
}
.featured-text:first-child{
	display: block;
	right: 0;
}
.featured-text:last-child{
	left: -100%;
	right: auto;
}

.featured h1{
	color: white;
	font-size: 72px;
	/*margin: 15vh 0 5vh;*/
}
.featured h2{
	color: white;
	font-size: 24px;
}
.overlay{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(0,35,0,0.85);
	z-index: 2;
}
.arrow{
	background: #FFF;
	background-repeat: no-repeat;
	background-size: 40%;
	border-radius: 100%;
	cursor: pointer;
	height: 80px;
	margin-top: -40px;
	top: 50%;
	position: absolute;
	width: 80px;
	z-index: 3;
}
.left-arrow{
	background-image: url('images/left-arrow.svg');
	background-position: 75%;
	left: 0;
	margin-left: -40px;
}
.right-arrow{
	background-image: url('images/right-arrow.svg');
	background-position: 25%;
	margin-right: -40px;
	right: 0;
}



.boxes{
	margin: 50px 0;
}
.boxes div{
	background: url('images/msriver.jpg');
	background-size: cover;
	background-position: center;
	border: 1px solid #CCC;
	height: 250px;
	text-align: center;
}



.post-listing{
	padding: 30px @wrap-pad;
}
.post-preview{
	border-bottom: 1px solid #CCC;
	overflow: auto;
	padding: 30px 0;
}
.post-preview:last-child{
	border-bottom: none;
}
.post-preview img{
	background: red;
	border: none;
	border-radius: 100%;
	float: left;
	height: 150px;
	margin-right: 25px;
	width: 150px;
}
.post-preview h1{
	font-size: 48px;
	margin-bottom: 10px;
}

/* IDEA: Button that switches between text only */

.footer{
	background: mediumseagreen;
	color: #FFF;
	height: 200px;
	line-height: 200px;
	text-align: center;
}



.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
	clear: both;
}
.col{
	float: left;
	position: relative;
}
.col + .col{
  margin-left: @colMargin;
}

@colWidth: (100-(@colMargin * (@columns - 1))) / @columns;

.col-widths (@i) when (@i > 0) {
  .col-@{i} {
  	width: (@colWidth * @i) + (@colMargin * (@i - 1));
  }
  .col-widths(@i - 1);
}
.col-widths (@columns);

@media only screen and (max-width: 550px) {
	.header, .main, .footer{
		padding: 0 @wrap-pad-sm;
	}
	.col{
		width: auto;
		float: none;
	}

	.col + .col {
		margin-left: 0;
	}
}